.home {
  display: flex;
  flex-direction: column;
  max-width: 1343px;
  margin-right: 30px;
  letter-spacing: 2px;
  text-align: center;
  a {
    text-decoration-line: none;
    color: white;
  }

  & .text-centr {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  &__first-block {
    background: url("../../img/actionMovie.png") center center;
    width: 100%;
    height: 529px;
    z-index: 0;
    position: relative;
    background-size: 100%;
    border-radius: 5px;

    transition: background-size 0.5s ease-in;
    &:hover {
      background-size: 110%;
    }
    &::after {
      position: absolute;
      content: "";
      width: 97%;
      height: 92%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border: 2px solid rgb(255, 255, 255, 0.4);
      border-radius: 5px;
    }
    h3 {
      font-family: Philosopher;
      font-size: 65px;
      font-weight: 700;
      text-decoration-line: none;
    }
    p {
      font-size: 30px;
      .blue {
        color: #81becb;
        font-weight: 700;
        font-size: 30px;
      }
    }
  }

  // 222222222222222222222222222222222222222222222222222222

  &__second-block {
    display: flex;
    flex-direction: row;

    margin: 30px 0px;
    gap: 35px;
    & .first-img {
      background: url("../../img/millitaryMovie.png") center center;
      width: 657px;
      height: 446px;
    }
    & .second-img {
      width: 657px;
      background: url("../../img/detectiveMovie.png") center center;
      height: 446px;
    }
  }

  // 33333333333333333333333333333333333333333333333333333333333

  &__third-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 29px;
    & .first-img {
      background: url("../../img/childrenMovie.png") center center;
    }
    & .second-img {
      background: url("../../img/dramaMovie.png") center center;
    }
    & .third-img {
      background: url("../../img/comedyMovie.png") center center;
    }
    & .fourth-img {
      background: url("../../img/criminalMovie.png") center center;
    }
    & .fifth-img {
      background: url("../../img/melodramaMovie.png") center center;
    }
    & .sixth-img {
      background: url("../../img/thrillerMovie.png") center center;
    }
    & .seventh-img {
      background: url("../../img/horrorMovie.png") center center;
    }
    & .eighth-img {
      background: url("../../img/fictionMovie.png") center center;
    }
    & .ninth-img {
      background: url("../../img/fantasyMovie.png") center center;
    }
  }
  &__third-block .size-img {
    width: 428px;
    height: 355px;
    position: relative;
    background-size: 100%;
    border-radius: 5px;
    transition: background-size 0.5s ease-in;
    &:hover {
      background-size: 110%;
    }
    h3 {
      font-family: Philosopher;
      font-size: 40px;
    }
    p {
      font-size: 18px;
      .blue {
        font-size: 22px;
        color: #81becb;
        font-weight: 700;
      }
    }
    &::after {
      position: absolute;
      content: "";
      width: 90%;
      height: 88%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border: 2px solid rgb(255, 255, 255, 0.4);
      border-radius: 5px;
    }
  }
  &__second-block .img-size {
    position: relative;
    background-size: 100%;
    border-radius: 5px;
    transition: background-size 0.5s ease-in;
    &:hover {
      background-size: 110%;
    }
    h3 {
      font-family: Philosopher;
      font-size: 50px;
      font-weight: 700;
    }
    p {
      font-size: 22px;
      .blue {
        font-weight: 700;
        font-size: 22px;
        color: #81becb;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 94%;
      height: 91%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border: 2px solid rgb(255, 255, 255, 0.4);
      border-radius: 5px;
    }
  }
}
