.movie-item {
  display: flex;
  flex-direction: column;
  width: 1342px;
  height: fit-content;
  min-height: 1400px;
  background-color: #191a1b;
  border: 1px solid rgba(109, 122, 124, 0.5);
  margin-right: 30px;
  padding: 20px 20px;
  h4 {
    color: var(--hover-color);
  }
  &__main-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  &__btn-back {
    width: 80px;
    cursor: pointer;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #a4a4a4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    svg {
      transition: stroke 0.3s ease-in-out;
    }
    &:hover {
      border-color: var(--hover-color);
      svg {
        stroke: var(--hover-color);
      }
    }
  }
  &__preview {
    display: flex;
    flex-direction: column;
    .preview-poster {
      padding-bottom: 20px;
      img {
        height: 620px;
        width: 420px;
      }
    }
  }
  &__content {
    margin-left: 30px;
    .movie-item__caption {
      h4 {
        font-size: 48px;
      }
      p {
        font-size: 24px;
        color: var(--p-color);
      }
      span {
        color: var(--p-color);
        font-size: 12px;
      }
    }
    .movie-item__info {
      display: flex;
      padding-top: 20px;
      flex-direction: column;
      gap: 10px;
      font-size: 18px;
      h4 {
        font-size: 32px;
        font-weight: 300;
      }
      p {
        color: var(--p-color);
      }
      span {
        left: 100px;
        color: white;
      }
    }
    .movie-item__facts {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      h4 {
        font-size: 32px;
        padding-bottom: 10px;
        font-weight: 300;
      }
      .facts-list {
        height: 500px;
        overflow-y: auto;
      }
      .item-fact {
        display: flex;
        padding-bottom: 10px;
        font-size: 18px;
      }
      .fact-number {
        margin-right: 10px;
        color: var(--p-color);
      }

      .blur-text {
        color: transparent;
        text-shadow: 0 0 0px rgb(255, 255, 255);
        transition: all 0.5s ease-in-out;
      }
      .spoiler {
        cursor: pointer;
        user-select: none;
        color: transparent;
        position: relative;
        text-shadow: 0 0 10px rgb(255, 255, 255);

        &::before {
          content: "Спойлер!";
          font-size: 20px;
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          text-shadow: none;
          z-index: 999;
          transition: all 0.3s ease-in-out;
        }
        &:hover:before {
          font-size: 30px;
          color: var(--hover-color);
        }
      }
    }
  }
  &__persons-list {
    display: flex;
    flex-direction: column;
    h4 {
      padding: 20px 0px;
      font-size: 32px;
      font-weight: 300;
    }
    .actor-list {
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;

      .actor-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: white;
        cursor: pointer;
        &:hover {
          .actor-name {
            color: var(--hover-color);
          }
          .actor-photo {
            border: 2px solid var(--hover-color);
          }
        }
        .actor-photo {
          transition: all 0.2s ease-in-out;
          width: 150px;
          height: 200px;
          overflow: hidden;
          margin: 0px 5px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .actor-name {
          transition: all 0.2s ease-in-out;
          margin: 10px 0px 15px 0px;
        }
      }
    }
    .actors-page__link {
      display: flex;
      justify-content: center;
      cursor: pointer;
      font-size: 18px;
      a{
        text-decoration: none;
        color: var(--p-color);
        transition: all 0.2s ease-in-out;
        &:hover {
          color: var(--hover-color);
          text-decoration: underline;
        }
      }      
    }
  }
}
