.sideBar {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 427px;
  height: 1374px;
  &-new__list {
    background-color: var(--bg-color);
    a{
      text-decoration: none;
      color: white;
    }
  }
  &-new__list-item {
    
    cursor: pointer;
    display: flex;
    height: 130px;
    border: 1px solid rgba(109, 122, 124, 0.5);
    align-items: center;
    img {
      margin: 0px 15px;
      width: 64px;
      height: 96px;
      border-radius: 5px;
    }
    &:hover {
      background-color: #313232;
    }
  }
  .text {
    span {
      font-size: 16px;
      color: #a4a4a4;
    }
    h3 {
      margin-top: 10px;
      font-size: 20px;
    }
  }
  & .sideBar-popular__collect {
    margin-top: 35px;
    font-weight: 500;
  }

  .caption {
    height: 62px;
    width: 427px;
    border: 1px solid rgba(109, 122, 124, 0.5);
    line-height: 62px;
    padding-left: 20px;
    background-color: var(--bg-color);
  }

}
.slider-item {
  display: flex;

  flex-direction: column;
  justify-content: center;
  
  .slider-caption{
    font-size: 36px;
    line-height: 45px;
    margin-left: 20px;
  }
  button {
    background: var(--p-color);
    color: white;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 57px;
    padding: 10px 32px;
    font-size: 18px;
    width: 148px;
    height: 47px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover{
      background-color: var(--hover-color);
    }
  }
  &.item-1 {
    background: url("../../img/slider.png");
  }
  &.item-2 {
    background: url("../../img/slider.png");
  }
  &.item-3 {
    background: url("../../img/slider.png");
  }
  &.item-4 {
    background: url("../../img/slider.png");
  }
}